#except pdf files
*.pdf
*.jpeg
*.jpg
*.csv
*.pfx
*.crt
*.cer
*.png
*.log
*.xml
*.bz2
*.bmp
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.DotSettings
[Bb]in
[Dd]ebug*/**
obj/
[Rr]elease*/**
_ReSharper*/**
NDependOut/**
packages/**
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.ncrunch*
*.ndproj
libs/BUILD!/
libs/DevExpress 21/
serverside/
!BUILD/
DEBUG_APP/
libs/!BUILD/mts_release/
DEXOL\dexol_update\distr\
serverside/dex_dol2_bridge/dol2_codebase/8.1.0.0/
serverside/dex_dol2_bridge/dol2_codebase/9.0.0.0/
serverside/dex_dol2_bridge/dol2_codebase/9.9.0.12/
serverside/dex_dol2_bridge/dol2_codebase/10.0.0.34/
serverside/dex_dol2_bridge/dol2_codebase/10.3.1.18/
serverside/dex_dol2_bridge/dol2_codebase/10.5.0.35/
serverside/dex_dol2_bridge/dol2_codebase/11.3.0.5/
serverside/dex_dol2_bridge/dol2_codebase/11.3.0.11/
serverside\dex_dol2_bridge\dol2_codebase\current\install.exe
serverside\dex_dol2_bridge\dol2_codebase\current\setup.exe
serverside\dex_dol2_bridge\dol2_codebase\current\DB.mdb
serverside\dex_yota_bridge\chromedriver1111.exe