<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net40" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net40" />
  <package id="RawPrint" version="0.2.0.0" targetFramework="net40" />
  <package id="Spire.PDF" version="5.7.0" targetFramework="net40" />
</packages>